.footer {
    height: 128px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    flex-direction: column;
  }
  
  .footer a {
    color: orange;
  }

  
  
